/* Horizontal Navigation bar*/
nav li{
  display:inline;
  padding-right:20px;
}

/* navigation bar alignment styling*/
.navlinks{
  padding: 10px 0px 10px 0px;
  text-align: right;
}

nav{
  padding-bottom: 10px;
}

/*navigation bar hover, visit, focus, etc. style */
nav a:link, a:visited {
  text-decoration: none;
  color: black;
}
nav a:hover {
  text-decoration: underline;
}

nav a:focus{
  background-color: #e09832;
} 

.active{
  background-color: #e09832;
  padding: 3px;
  border: 2px solid bisque;
}

nav a{
  text-decoration: underline;
}

/*nav bar styling */
.navlinks{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: right;
  padding: 20px 0;
  background-color: #ecc091;
}

/* skip to content style */
.skip a{
  position: absolute;
  top: -110px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  background-color: #ecc091;
}
  
.skip a:focus{
  top: 20px;
  border: 2px solid #000000;
}

/*intro text styling */
.introcontent{
  text-align: center;
}

/*footer styling*/
footer{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #ecc091;

}

/* flex & grid design for images & more in Restuarant & cafe and bakery */

.gridgallery{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.flexgallery{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.content{
  padding-left: 10px;
}

.card{
  position:relative;
  max-width: 500px;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction:row;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  background: #ecc091;
}

/* image sizing without stretch */

img{
  height: 250px;
  width: 250px;
  object-fit: cover;
}
/* buttons styling */
.button{
  display: none;
  font-weight: bold;
  background-color: #db7441;
}

/*restaurant page overall styling styling*/
body{
  background-color: bisque;
}

.removedisc {
  display: none;
}

.linkdisc {
  display: none;
}

.image{
  display: none;
}


@media only screen and (min-width: 700px) {
  
  .button{
    display: none;
    font-weight: bold;
    background-color: #db7441;
  }
  .removedisc {
    display: inherit;
  }
  .image{
    display: inherit;
  }  
  
  .gridgallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card{
    position:relative;
    max-width: 500px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #ecc091;
  }
}

@media only screen and (min-width: 1060px) {
  .linkdisc {
    display: inherit;
  }
  
  .button{
    display: inherit;
    font-weight: bold;
    background-color: #db7441;
  }

  .content{
    min-height: 350px;
  }
}

/*ISHAN's CODE*/

.container {
  display: grid;
  grid-template-columns: auto;
  row-gap: 10px;
  background-color: bisque;
}

* {
  font-family: "Times New Roman";
  font-size: 20px;
}

.welcome {
  grid-row-start: 1;
  margin-top: 20px;
  text-align: center;
  margin: 20px 10px 0px 10px;
  background: #ecc091;
  padding-bottom: 10px;
}

.welcome p {
  text-align: center;
}

h1 {
  font-size: 70px;
  text-align: center;
}

.annarbor {
  grid-column-start: 1;
  grid-row-start: 4;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ecc091;
  padding: 10px;
}

.aboutus {
  grid-column-start: 1;
  grid-row-start: 5;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ecc091;
  padding: 10px;
}

.img1 {
  grid-column-start: 1;
  grid-row-start: 2;
  position: relative;
  max-height: 400px;
  overflow: hidden;
  margin: 20px;
}

.img1 img {
  height: 100%;
  width: 100%;
}

.img2 {
  grid-column: 1;
  grid-row-start: 7;
  position: relative;
  max-height: 400px;
  overflow: hidden;
  margin: 20px;
}

.img2 img {
  height: 100%;
  width: 100%;
}

.outro {
  grid-row-start: 8;
  text-align: center;
  margin: 0px 10px 20px 10px;
  background-color: #ecc091;
  padding: 10px;
}

.food1, .food2, .food3, .food4, .food5, .food6 {
  display: none;
}

@media only screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    background-color: bisque;
  }

  .welcome {
    grid-row-start: 1;
    grid-column: 1 / span 3;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .img1 {
    grid-column: 2 / 4;
    grid-row-start: 2;
    position: relative;
    max-height: 600px;
    overflow: hidden;
    margin: 0px 20px 0px 0px;
  }

  .img1 img {
    height: 100%;
    width: 100%;
  }

  .annarbor {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background: #ecc091;
  }

  .aboutus {
    grid-column: 3;
    grid-row-start: 3;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;
    background: #ecc091;
  }

  .img2 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    position: relative;
    max-height: 400px;
    overflow: hidden;
    margin: 10px 0px 20px 20px;
  }
  
  .img2 img {
    height: 100%;
    width: 100%;
  }
  
  .outro {
    grid-row: 3;
    grid-column: 3;
    text-align: left;
    margin: 180px 20px 20px 20px;
    padding: 10px;
    background: #ecc091;
    border-top: 0px;
    border-bottom: 0px;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    background-color: bisque;
  }

  .welcome {
    grid-row-start: 1;
    grid-column: 2/ span 2;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .img1 {
    grid-column: 1;
    grid-row: 1 / 3;
    position: relative;
    overflow: hidden;
    margin: 20px 10px 0px 20px;
    max-height: 320px;
  }

  .annarbor {
    grid-column: 2 / 4;
    text-align: center;
    max-height: 200px;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: 0px;

  }

  .img2 {
    grid-column: 4;
    grid-row: 1 / 3;
    position: relative;
    overflow: hidden;
    margin: 20px 20px 0px 10px;
    max-height: 320px;
  }

  .aboutus {
    grid-column: 2 / 4;
    grid-row: 3;
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 20px;
    padding: 10px;
    background: #ecc091;
    text-align: center;
  
  }

  .outro {
    grid-row: 4;
    grid-column: 2 / 4;
    text-align: left;
    margin: 0px 20px 20px 20px;
    padding: 10px;
    background: #ecc091;
    text-align: center;

  }

  .food1 {
    display: inherit;
    grid-column: 1;
    grid-row: 3 / 5;
    position: relative;
    overflow: hidden;
    margin: 20px 10px 0px 20px;
  }

  .food1 img {
    width: 100%;
    height: 100%;
  }

  .food2 {
    display: inherit;
    grid-column: 1;
    grid-row: 5 / 7;
    position: relative;
    overflow: hidden;
    margin: 20px 10px 10px 20px;
    max-height: 300px;
  }

  .food2 img {
    width: 100%;
    height: 100%;
  }

  .food3 {
    display: inherit;
    grid-column: 4;
    grid-row: 3 / 5;
    position: relative;
    overflow: hidden;
    margin: 20px 20px 0px 10px;
  }

  .food3 img {
    width: 100%;
    height: 100%;
  }

  .food4 {
    display: inherit;
    grid-column: 2;
    grid-row: 5 / 7;
    position: relative;
    overflow: hidden;
    margin: 20px 20px 10px 20px;
    max-height: 300px;
  }

  .food4 img {
    width: 100%;
    height: 100%;
  }
  
  .food5 {
    display: inherit;
    grid-column: 3;
    grid-row: 5 / 7;
    position: relative;
    overflow: hidden;
    margin: 20px 20px 10px 20px;
    max-height: 300px;
  }

  .food5 img {
    width: 100%;
    height: 100%;
  }

  .food6 {
    display: inherit;
    grid-column: 4;
    grid-row: 5 / 7;
    position: relative;
    overflow: hidden;
    margin: 20px 20px 10px 10px;
    max-height: 300px;
  }

  .food6 img {
    width: 100%;
    height: 100%;
  }
}

/* CONTACT US */
.contactcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.thankyou {
  grid-column: 1 / span 2;
  text-align: center;
}

.ishanimg {
  position: relative;
  grid-column-start: 1;
  grid-row-start: 2;
  max-height: 400px;
  overflow: hidden;
  max-width: 300px;
}

.ishanimg img {
  width: 100%;
  height: 100%;

}

.melimg {
  position: relative;
  grid-column-start: 2;
  grid-row-start: 2;
  max-height: 400px;
  overflow: hidden;
  max-width: 300px;
}

.melimg img {
  width: 100%;
  height: 100%
}

.ishan {
  grid-column: 1;
  padding: 5px;
  text-align: center;
  max-width: 400px;
}

.mel {
  grid-column: 2;
  padding: 5px;
  text-align: center;
  max-width: 400px;
}

/*contact form*/
input[type=text], select, textarea {
  width: 100%; 
  padding: 10px; 
  border: 3px solid black;
  box-sizing: border-box; 
  margin-top: 10px; 
  margin-bottom: 20px; 
  resize: vertical;
}

input[type=submit] {
  background-color: #ecc091;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #e09832;
}

.formcontainer {
  border-radius: 5px;
  padding: 20px;
}